{% extends "base.html.twig" %}

{% block body %}
<section>
    <h1>température de Christian</h1>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <div class="comment">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita ut quibusdam quaerat ducimus adipisci optio impedit? Nesciunt, 
            quasi! Perferendis doloribus doloremque distinctio, totam laudantium laboriosam nulla accusantium veritatis. Magni adipisci, quo earum 
            error deserunt dolore aperiam non voluptas consectetur illo, tempora esse nobis cupiditate dolorem voluptatibus facere voluptates asperiores.</p>
        </div>
    </div>
</section>

{% endblock %}